body {
  font-family: Arial;
  background: #f4f4f4;
}

.blog-container {
  width: 600px;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

textarea {
  height: 100px;
}

button {
  padding: 8px;
  width: 100%;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.post {
  border-top: 1px solid #ccc;
  padding-top: 15px;
  margin-top: 15px;
}

.post img {
  width: 100%;
  margin: 10px 0;
}

.post button {
  width: auto;
  margin-right: 5px;
}